<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css">
</head>


<!--<body>-->
<!--<p>User id is: {{.Id}}</p>-->
<!--<p>User Balance is: {{.Balance}}</p>-->
<!--</body>-->
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"> Test Task®</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/homepage">Главная страница</a>
        <a class="nav-link" href="/account">Поддрежка </a>
        <a class="nav-link" href="/authorize">Личный кабинет</a>
      </nav>
    </div>
  </header>
<!-- легально работает на территории Украины в онлайн и оффлайн залах. Каждый гость после регистрации получает щедрый пакет бонусов, более полутора тысяч лицензионных игр от самых известных производителей, постоянные акции, турниры и квесты. Служба поддержки работает круглосуточно и готова помочь в любой ситуации.-->
  <main class="px-3">
    <h1>Добро пожаловать в  Test Task.</h1>
    <p class="lead"> Test Task®</p>
    <p class="lead">
      <a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Зарегистрироваться</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Fotage template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap.</a></p>
  </footer>
</div>
</body>
</html>
